.content-my-password {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

    div {
        color: white;
        background-color: rgba(0, 102, 160, 1);
        border-radius: 1rem;

        font-size: clamp( 2rem, 5vw, 15vh);
        width: 100%;
        padding: 1rem;
        margin-right: 1rem;
    }

    button {
        color: white;
        background-color: rgb(204, 26, 26);
        border: none;
        text-decoration: none;
        border-radius: 1rem;
        padding: 1rem;
        cursor: pointer;
        font-size: clamp( 2rem, 5vw, 15vh);

        &:hover {
            background-color: rgb(255, 44, 44);
        }
    }
}
